/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #0A192F; /* Bleu foncé tech */
    color: #E6F1FF; /* Blanc cassé */
}

/* Titres principaux */
h1, h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00A8E8; /* Bleu électrique */
}

/* Sous-titres */
h3, h4 {
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #64FFDA; /* Vert néon */
}

/* Titres secondaires (h5, h6) */
h5, h6 {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #E6F1FF;
}

/* Header */
header {
    background: linear-gradient(135deg, #112240 0%, #0A192F 100%);
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

/* Navbar */
nav {
    background-color: #112240;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00A8E8;
}


/* Page de couverture */
#cover {
    text-align: center;
    padding: 40px;
}

.profile {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;  /* Ajuste la taille de la photo */
    height: 150px;
    border-radius: 50%; /* Rendre l'image ronde */
    object-fit: cover; /* Ajuste l'image à la taille sans déformer */
    border: 4px solid #858585; /* Optionnel : ajouter une bordure autour de l'image */
}

/* Sections */
section {
    padding: 40px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #112240;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 255, 180, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease; /* Durée allongée à 1.5s */
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Mes compétences */
#skills {
    padding: 20px;
    background-color: #112240; /* Couleur de fond douce pour la section */
    border-radius: 8px; /* Coins arrondis pour la section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour la section */
}

#skills h2 {
    text-align: center;
    color: #3498db;
    font-size: 2rem;
    margin-bottom: 20px;
}

.skills-container {
    display: grid; /* Utilisation de la grille */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Plus de largeur pour chaque élément */
    gap: 30px; /* Espacement plus large entre les éléments */
    justify-items: center; /* Centrer les éléments dans leur colonne */
    margin-top: 20px; /* Ajouter un peu d'espace en haut */
}

.skill-item {
    background-color: #fff; /* Fond blanc pour chaque compétence */
    padding: 30px; /* Augmenter l'espace intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère autour des éléments */
    text-align: center; /* Centrer le contenu */
    transition: transform 0.3s ease; /* Transition douce au survol */
    width: 100%; /* Utiliser toute la largeur possible */
}

.skill-item i {
    font-size: 50px; /* Augmenter la taille des icônes */
    color: #3498db; /* Couleur des icônes */
    margin-bottom: 15px;
}

.skill-item p {
    font-size: 1.3rem; /* Augmenter la taille de la description */
    color: #333;
}

/* Effet au survol pour les compétences */
.skill-item:hover {
    transform: scale(1.05); /* Agrandir légèrement l'élément */
    background-color: #f1f1f1; /* Changer le fond au survol */
}

/* Projets */
#projects {
    padding: 20px;
}

/* Bloc de projet */
.project {
    display: flex;  /* Utilisation de flexbox pour afficher les éléments côte à côte */
    margin-bottom: 20px;  /* Espacement entre les projets */
    align-items: center;  /* Centrer verticalement le contenu */
    border-radius: 12px;  /* Coins arrondis pour donner un look moderne */
    transition: transform 0.3s ease;  /* Transition douce */
}

/* Description du projet */
.project-description {
    flex: 1;  /* Prendre toute la place restante */
    padding-left: 20px;  /* Espace entre l'image et le texte */
    transition: transform 0.3s ease; /* Transition douce */
    border: #4e73df 1px solid;
    border-radius: 8px;  /* Coins arrondis pour le bloc texte */
    background-color: #0A192F;  /* Fond plus sombre pour le texte */
    padding: 20px;  /* Espacement intérieur du texte */
}

/* Agrandissement de la description au survol */
.project-description:hover {
    transform: scale(1.05); /* Agrandissement léger */
}

/* Image du projet */
.project-image {
    max-width: 200px;  /* Limite la taille de l'image */
    margin: 20px;  /* Espace entre l'image et le texte */
    border-radius: 8px;  /* Coins arrondis pour l'image */
    overflow: hidden;  /* Pour que les coins arrondis soient appliqués */
}

.project-image img {
    width: 100%;  /* L'image prend la largeur maximale disponible dans son conteneur */
    height: auto;  /* Maintien les proportions de l'image */
}

/* Centrer la vidéo et ajouter une bordure */
.project-video {
    text-align: center; /* Centre la vidéo */
    margin: 20px 0; /* Espacement vertical autour de la vidéo */
}

.project-video video {
    width: 80%; /* Augmente la taille de la vidéo à 80% de la largeur du parent */
    max-width: 900px; /* Limite la taille maximale de la vidéo */
    border: 5px solid #3498db; /* Ajoute une bordure bleue autour de la vidéo */
    border-radius: 10px; /* Ajoute un rayon de bordure pour arrondir les coins */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère autour de la vidéo */
}

/* Titre du projet */
.project h3 {
    color: #00A8E8;  /* Applique la couleur bleu pour les titres */
    margin-bottom: 10px;  /* Espacement sous le titre */
    font-weight: 600;  /* Poids du texte plus important pour le titre */
}

/* Contact Form */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact input,
#contact textarea {
    padding: 10px;
    border: 1px solid #64FFDA;
    border-radius: 4px;
    background-color: #0A192F;
    color: #E6F1FF;
}

#contact button {
    background-color: #00A8E8;
    color: #0A192F;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#contact button:hover {
    background-color: #64FFDA;
    color: #0A192F;
}

/* Footer */
footer {
    background-color: #112240;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

/* Liens sociaux */
#social-links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

#social-links a {
    color: #64FFDA;
    font-size: 1.1em;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #00A8E8;
    transition: background-color 1s ease, color 1s ease;
}

#social-links a:hover {
    background-color: #00A8E8;
    color: #fff;
}

/* Responsive */
@media (max-width: 1024px) {
    body {
        padding: 10px; /* Espace général autour de tout le contenu */
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 15px;
    }

    .project {
        flex-direction: column;
        align-items: flex-start;
    }

    .project-image img {
        display: none;
    }

    .project-description {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%; /* Les vidéos prennent 100% de la largeur de l'écran */

    }
    section {
        padding: 1px; /* Espace intérieur pour chaque section */
        margin: 20px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 2rem;
    }

    .skills-container {
        grid-template-columns: 1fr; /* Passe à une seule colonne pour les petits écrans */
    }

    .project-video video {
        width: 90%; /* Augmente la largeur de la vidéo pour mobile */
    }

    #contact input,
    #contact textarea {
        font-size: 1rem;
        padding: 15px;
    }
    nav ul {
        flex-direction: column; /* Les éléments de la navbar se placent en colonne */
        align-items: center; /* Centre les éléments verticalement */
    }

    nav ul li {
        margin: 10px 0; /* Espacement vertical entre les éléments */
    }

    .profile {
        flex-direction: column; /* Aligner la photo de profil et le texte verticalement */
    }

    .profile-img {
        width: 120px; /* Taille de l'image plus petite pour les petits écrans */
        height: 120px;
    }


    .project-image img {
        display: none;
    }


    .project-video video {
        width: 100%; /* Les vidéos prennent 100% de la largeur de l'écran */
        max-width: 100%; /* Pas de limite de taille, la vidéo est flexible */
    }

    section {
        padding: 25px; /* Espace intérieur pour chaque section */
        margin: 20px;
    }
}
